body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #e7e5eb;
}

textarea {
	border: none;
	resize: none;
	background-color:#e7e5eb;
	box-shadow: rgb(145, 146, 146);
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	margin-left: 250px;
	width: 50px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #cde1f5f8;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}
.note:hover{
	opacity: 0.8;
}
.note-footer {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-style: italic; */
}

.delete-icon {
	cursor: pointer;
	margin-left:10px;
	color: rgb(155, 74, 74);
}

.delete-icon:hover{
	opacity: 0.5;
}

.edit-icon{
	cursor: pointer;
	margin-left:10px;
	color: #0056b3;
}

.edit-icon:hover{
	opacity: 0.5;
}

.date-time{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap:1rem;


}

.date{	
		font-size: 15px;
		/* border: 1px solid black; */
		/* padding: 2px; */
		/* font-style: none; */
}

.time{
	font-size: 15px;
	font-style: italic;
	/* border: 1px solid black; */
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
	
}

.search input:focus {
	outline: none;
}


.search:hover{
	opacity: 0.8;
	
}

.quote-container {
	color:black;
	background-color: #e7e5eb;
	border : 2px;
	border: transparent;
	border-radius: 4px;
	padding: 6px;
	height: 100px;
	
}

.edit-textarea{
	padding: 10px;
	margin: 4px;
	border: 2px solid #ccc;
}

.cancel-btn{
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 20px;
	
}

.edit-note{
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction:row;
	align-items: center;
	background-color: rgb(233, 233, 233);
	gap: 6px;
}

.Update-btn{
	
		background-color: black;
		color: white;
		padding: 10px;
		border-radius: 20px;
		
	}

.h2{
	
font-size: x-large;
font-weight: 200;
}

.icons{
	/* margin: 10px;
	padding: 10px; */
	display: flex;
	flex-direction:row;
	align-items: center;
}

.next-quote-btn {
	padding: 10px 20px;
	background-color: #c6b5f7;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 20px;
  }
  
  .next-quote-btn:hover {
	background-color: #0056b3;
  }

.msg{
	color: #9585c7;
	background-color: #ededed;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}
.main{
	/* margin: 20px; */
	/* padding: 20px; */
	/* background-color: #f0f0f0; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}